
/*
*
* Catppuccin Macchiato palette
* Maintainer: rubyowo
*
*/

@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

*{
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 18px;
}

window#waybar {
    background: transparent;
}
tooltip {
    background: transparent;
    border: none;
}
tooltip label {
    background: @base;
    border: 2px solid @rosewater;
    border-radius: 2px;
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 16px;
}

.modules-left {
    margin-left: 10px;
}
#custom-archlinux {
    background: @base;
    border-radius: 0 0 10px 10px;
    color: @blue;
    padding: 0 5px 0 8px;
}
#workspaces {
    background: @base;
    border-radius: 0 0 10px 10px;
    margin-left: 10px;
}
#workspaces button {
    color: @sky;
}
#workspaces button:hover {
    background: none;
    border: none
}
#workspaces button.active {
    color: @yellow;
}

.modules-center {
    background: @base;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
}
#custom-weather {
    color: @rosewater;
    background: @surface0;
    margin: 5px 0px 5px 10px;
    padding: 0 5px;
    border-radius: 10px;
}
#clock {
    color: @flamingo;
    background: @surface0;
    margin: 5px 0;
    padding: 0 5px;
    border-radius: 10px;

}

.modules-right {
    background: @base;
    margin: 0 10px 0 0;
    padding-left: 10px;
    border-radius: 0 0 10px 10px;
}
#network {
    color: @yellow;
    background: @surface0;
    border-radius: 10px 0 0 10px;
    margin: 5px 0;
    padding: 0 5px 0 10px;
}
#bluetooth {
    color: @blue;
    background: @surface0;
    border-radius: 0 10px 10px 0;
    margin: 5px 10px 5px 0;
    padding: 0 10px 0 5px;
}
#pulseaudio {
    color: @mauve;
    background: @surface0;
    border-radius: 10px 0 0 10px;
    margin: 5px 0 5px 10px;
    padding: 0 5px 0 10px;
}
#backlight {
    color: @sky;
    background: @surface0;
    margin: 5px 0;
    padding: 0 5px 0 5px;
}
#battery {
    color: @green;
    background: @surface0;
    border-radius: 0 10px 10px 0;
    padding: 0 10px 0 5px;   
    margin: 5px 10px 5px 0;
}
#battery.medium {
    color: @yellow;
}
#battery.warning {
    color: @maroon;
}
#battery.critical {
    color: @red;
}
#custom-wlogout {
    color: @red;
    margin: 0 5px;
}
